::-webkit-scrollbar {
    display: none;
}

/*修改预定义MUI样式*/
.mui-input-range input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
}

/*修改预定义MUI样式*/
.mui-input-range .mui-tooltip {
    top: -60px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

/*修改预定义Bootstrap样式*/
.form-control:focus {
    border-color: #fff;
    box-shadow: none;
}

body {
    font-size: 4vw;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconfont {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.15em;
    margin-left: 2vw;
    fill: currentColor;
    overflow: hidden;
}

.icon {
    margin: 0vh 10vw;
    font-size: 8vw;
    color: gray;
}

.video-container {
    display: none;
    object-fit: contain;
    max-height: 50vh;
    border: solid 0.5vw darkgray;
    border-radius: 5vw;
    background-color: black;
}

#outputVideo {
    margin-top: 2vh;
}

#video-body {
    padding: 2vh 0 0 0;
}

.video-button {
    width: 100%;
    font-size: 3.5vw;
    margin: 0vh 8vw 2vh 8vw;
    padding: 1vh 5vw;
}

.audio-button {
    font-size: 3.5vw;
    margin: 0.5vh 4vw 2vh 4vw;
    border-radius: 50px;
}

.card-header {
    padding: 0;
    margin: 0;
}

.card-header button {
    font-size: 5vw;
    width: 100%;
}

#localSaveName {
    text-align: right;
    padding-right: 5vw;
    color: blue;
}

#showModal {
    display: none;
}

#render {
    height: 12vw;
    margin-top: 2vh;
    font-size: 4vw;
}