::-webkit-scrollbar {
    display: none;
}

/*修改预定义MUI样式*/
.mui-input-range input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
}

/*修改预定义MUI样式*/
.mui-input-range .mui-tooltip {
    top: -60px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

/*修改预定义Bootstrap样式*/
.form-control:focus {
    border-color: #fff;
    box-shadow: none;
}

body {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 50vh;
}

#pills-tab {
    flex-direction: row;
    justify-content: space-around;
    padding: 2vw;
}

.tab-pane {
    margin: 5vw;
    height: 35vh;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconfont {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.15em;
    margin-left: 2vw;
    fill: currentColor;
    overflow: hidden;
}

.icon {
    font-size: 8vw;
    color: gray;
}

.icon-large {
    margin: auto;
    font-size: 10vw;
    color: gray;
}

.video-container {
    width: 100%;
    height: 50vh;
    object-fit: contain;
    background-color: black;
}

#video {
    width: 100vw;
    height: 50vh;
    padding-top: 2vh;
}

#outputVideo {
    margin-top: 2vh;
}

.video-button {
    width: 80%;
    padding: 2vh 5vw;
    margin: 1.5vh 10% 1.5vh 10%;
    border-radius: 50px;
}

.audio-button {
    font-size: 3.5vw;
    margin: 0.5vh 4vw 2vh 4vw;
    border-radius: 50px;
}

#frames {
    position: absolute;
    padding-right: 1.25rem;
}

.label-font {
    text-align: right;
    font-weight: bold;
    color: gray;
}

#showRenderModal {
    display: none;
}

#showRecordingModal {
    display: none;
}

#render {
    height: 14vw;
    margin-top: 2vh;
    border-radius: 50px;
}