::-webkit-scrollbar {
    display: none;
}

/*修改预定义MUI样式*/
.mui-input-range input[type='range']::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
}

/*修改预定义MUI样式*/
.mui-input-range .mui-tooltip {
    top: -50px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
}

/*修改预定义Bootstrap样式*/
.form-control:focus {
    border-color: #fff;
    box-shadow: none;
}

body {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

label {
    font-size: 4vw;
}

#navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#pills-tab {
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid lightgray;
}

.tab-pane {
    height: 40vh;
    padding: 3vh 3vw;
    overflow: auto;
}

.nav-item {
    text-align: center;
}

.nav-item svg {
    font-size: 5vw;
    margin: auto;
}

.nav-item span {
    font-size: 3vw;
    display: block;
}

.mui-card {
    width: 22%;
    margin: 1vh 1% 1vh 1%;
    display: inline-block;
    border-radius: 3vw;
}

.mui-card-content {
    height: 8vh;
    background-size: 100% 100%;
    background-image: url('./img/filter.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.mui-card-content svg {
    margin: 1vw;
    font-size: 5vw;
    visibility: hidden;
}

.filter-label {
    text-align: center;
    padding: 5px 0;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconfont {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.15em;
    margin-left: 2vw;
    fill: currentColor;
    overflow: hidden;
}

.icon-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-filter {
    width: 80%;
    height: 80%;
    color: yellow;
}

.icon {
    font-size: 8vw;
    color: gray;
}

.icon-large {
    font-size: 10vw;
    color: gray;
}

#addBackgroundMusic,
#addDialect {
    font-size: 4vw;
    width: 25vw;
}

.video-container {
    width: 100%;
    height: 50vh;
    object-fit: contain;
    background-color: black;
}

#video {
    width: 100vw;
    height: 40vh;
}

#outputVideo {
    margin-top: 2vh;
}

.video-button {
    width: 80%;
    padding: 2vh 5vw;
    margin: 1.5vh 10% 1.5vh 10%;
    border-radius: 50px;
}

.audio-button {
    font-size: 4vw;
    margin: 0.5vh 4vw 2vh 4vw;
    border-radius: 50px;
}

#frames {
    position: absolute;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 2vh;
}

.input-font {
    font-size: 4vw;
    font-weight: bold;
    text-align: right;
    color: gray;
}

#showRenderModal {
    display: none;
}

#showRecordingModal {
    display: none;
}

#render {
    width: 94%;
    height: 12vw;
    margin: 2vh 3%;
    border-radius: 50px;
}