::-webkit-scrollbar {
    display: none;
}

/*修改预定义MUI样式*/
.mui-input-range input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
}

/*修改预定义MUI样式*/
.mui-input-range .mui-tooltip {
    top: -60px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

body {
    font-size: 4vw;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconfont {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.15em;
    margin-left: 2vw;
    fill: currentColor;
    overflow: hidden;
}

.icon {
    margin: 0vh 10vw;
    font-size: 8vw;
    color: gray;
}

#video {
    display: none;
    border: solid 1vw darkgray;
    border-radius: 5vw;
}

#outputVideo {
    display: none;
    margin-top: 2vh;
    border: solid 1vw darkgray;
    border-radius: 5vw;
}

#video-body {
    padding: 2vh 0 0 0;
}

.body-button {
    width: 100%;
    font-size: 3.5vw;
    margin: 0vh 7vw 2vh 7vw;
    padding: 1vh 5vw;
}

.audio-button {
    font-size: 3.5vw;
    margin: 0.5vh 4vw 2vh 4vw;
    border-radius: 50px;
}

.card-header {
    padding: 0;
    margin: 0;
}

.card-header button {
    font-size: 5vw;
    width: 100%;
}

#render {
    width: 100%;
    height: 8vh;
    margin-top: 3vh;
    font-size: 4vw;
}

#showModal {
    display: none;
}